.upload-item {
    padding: 20px;
    .path{
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .label{
            margin-right: 20px;
        }
        .txt{
            padding: 4px;
            flex: 1;
        }
    }
}

.box {
    height: 64px;
    line-height: 64px;
    background: #efefef;
    border-radius: 8px;
    border: dotted #0f5792 2px;
    font-size: 20px;
    color: rgb(116, 7, 218);
    transition: all 300ms;
    text-align: center;
    &.enter{
        background: #92e0ff;
    }
}

.list{
    display: flex;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item{
        width: 180px;
        margin: 0 0 20px;
        margin-bottom: 20px;
        position: relative;
        .img{
            display: block;
            width: 100%;
            height: 150px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: #ebebeb;
            border: solid 1px #aeaeae;
        }
        .name{
            text-align: center;
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .loading{
            position: absolute;
            left: 0;
            top: 60px;
            width: 100%;
        }
        .btn{
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            position: absolute;
            left: 0;
            top: 120px;
            background: rgba(0, 0, 0, 0.8);
            text-align: center;
            color: #ffffff;
            cursor: pointer;
        }
    }
    
}
