.upload-item {
    padding: 20px;
    .path{
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .label{
            margin-right: 20px;
        }
        .txt{
            padding: 4px;
            flex: 1;
        }
        .jump{
            width: 80px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            background: #00a6e7;
            color: #ffffff;
            font-size: 12px;
            margin-left: 8px;
        }
        .links{
            flex: 1;
            justify-content: flex-start;
            align-items: center;
            .link{
                display: inline-block;
                padding: 0 4px;
                color: #00a6e7;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.box {
    height: 120px;
    line-height: 120px;
    background: #efefef;
    border-radius: 8px;
    border: dotted #0f5792 2px;
    font-size: 20px;
    color: #00a6e7;
    transition: all 300ms;
    text-align: center;
    &.enter{
        background: #92e0ff;
    }
}

.list{
    display: flex;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item{
        width: 180px;
        margin: 0 0 20px;
        margin-bottom: 20px;
        position: relative;
        .img-box{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 150px;
            .img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        .name{
            text-align: center;
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .loading{
            position: absolute;
            left: 0;
            top: 60px;
            width: 100%;
        }
        .btn{
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            position: absolute;
            left: 0;
            top: 120px;
            background: rgba(0, 0, 0, 0.8);
            text-align: center;
            color: #ffffff;
            cursor: pointer;
        }
        .fresh{
            width: 24px;
            height: 24px;
            position: absolute;
            right: 4px;
            top: 4px;
            z-index: 1;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    
}
